.home-update {
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  h3 {
    font-size: 20px;
    margin-bottom: 20px;
  }

  h4 {
    margin-bottom: 10px;
  }

  ol>li {
    list-style: decimal;
    margin-left: 25px;
    margin-bottom: 5px;
    word-break: keep-all;
    text-align: justify;
    line-height: 24px;
  }
}
